<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% include 'navbar.html' %}
    <h1>Cancha: {{nombre}} </h1>

    <div style="width: 18rem;">
        <h3> Descripcion</h3>
        <p>{{descripcion}}</p>
        <h3>Horarios</h3>
        {% if horarios|length > 0 %}
            {% for horario in horarios%}
            <div>
                <form method="post" action="/reservar/{{horario.id}}">
                    <p>Inicio: {{ horario.hora_inicio|date:'Y-m-d, h:i:s' }}</p>
                    <p>Fin: {{ horario.hora_fin|date:'Y-m-d, h:i:s'}} </p>
                    <button type="submit">Reservar</button>
                </form>
            </div>
            {% endfor %}
        {% else %}
            <p>No hay horarios disponibles</p>
        {% endif%}
    </div>


</body>

</html>