<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>

<body>
    <head>
        <h1>Reserva de Canchas</h1>
    </head>
    <section>
        <p>En nuestra plaza contamos con varios tipos de canchas de tenis.Invita a tus familiares y amigos para pasar un
            momento ameno y seguro a un precio razonable.
        </p>
        <div>
            <img src="https://es.reformsports.com/doaveero/2019/06/tenis-kortu-cesitleri-nelerdir-zeminlerine-gore-kortlar.jpg"
                alt="Cancha de Tenis">
        </div>
        <a href="#">Ver Canchas</a>
    </section>
</body>

</html>